body {
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

h1, h2 {
    text-align: center;
}

.blog {
    margin-top: 50px;
    margin-bottom: 50px;
    color: forestgreen;
    background-color: beige;
    font-size: 25px;
}
#blog1{
    color: blueviolet;
}

#blog2{
    color: aqua;
}

#blog3{
    color: aquamarine;
}


#about {
    background-color: lightslategray;
    color: navy;
    
}

